* {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR', sans-serif;
}

body {
  background: #303030;
  background-size: cover;
  min-height: calc(100vh - 200px);
  min-height: 100%;
}

.mainSliderImg{
  height: 49vh;
}

