body {
  background:
  linear-gradient(
    rgba(0, 0, 0, 0.3), 
    rgba(0, 0, 0, 0.3)
  ),

  url(https://lh3.googleusercontent.com/proxy/hLmguSTYWf8brPDe_OawrnfXk9BSiuyYSXuHtPnRq8otVoNRgDQzVQHa393YrMuLelUUYvw7agU3uCZ8we9UmBSfT2nI85k9CgE0WE0UYkbFpJKHvU08qfd7AyE8LfCQgcSbcAK5H6NXaA);

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

* {
  margin: 0;
  padding: 0;
}